* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.center {
  text-align: center;
}

.frame {
  max-width: 500px;
  margin: 0 auto;
}

.track-y {
  .view {
    width: 100%;
  }
}

.view {
  font-size: 60px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  color: white;
  user-select: none;

  $colors: #209D22, #106CCC, #C1146B, #11BDBF, #8A19EA;

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &:nth-of-type(#{$i}) {
      background-color: lighten($color, 10%);
    }
  }
}
