.slider-wrapper {
  max-width: 400px;
  margin: 24px auto;
  border-radius: 3px;
  background: #fff;
  padding: 12px;
}

.slider {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  background: #E6E6E6;

  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}

.slider--is-sliding {
}

.slider--is-dragging {
}

.slide {
  padding: 12px;
  text-align: center;

  &--1 {
    background: #FFA820;
  }
  &--2 {
    background: #b4da55;
  }
  &--3 {
    background: #6EC1FF;
  }

  h1 {
    margin-top: 0;
    color: #fff;
  }
}

.slider__controls {
  margin-top: 12px;
  text-align: center;
}

.slider__control {
  display: inline-block;
  padding: 12px;
  border-radius: 3px;
  background: #D6D9DA;
  cursor: pointer;
  user-select: none;
}

.slider__control--prev {
  margin-right: 12px;
}

.slider__control--next {
  
}

.slider__pager {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 25px auto 0;
}

.slider__page {
  flex: 1;
  max-width: 35px;
  height: 35px;
  margin: 12px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #D4D4D4;
  border-radius: 3px;
  cursor: pointer;
}

// layout specific
* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  background: #F1F1F1;
}