# Mac OSX Files
.DS_Store
.Trashes
.Spotlight-V100
.AppleDouble
.LSOverride

# Bower
app/bower_components

# Node & NPM
.npmignore
npm-debug.log
node_modules
lib

# General Files
.sass-cache
.hg
.idea
.svn
.cache
.project
.tmp
